/** Less mixins
---------------------*/
.transition (@transition) {
  -webkit-transition: @transition;  
  -moz-transition:    @transition;
  -ms-transition:     @transition; 
  -o-transition:      @transition;  
}
.transform(@string){
  -webkit-transform: @string;
  -moz-transform:    @string;
  -ms-transform:     @string;
  -o-transform:      @string;
}
.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform:    scale(@factor);
  -ms-transform:     scale(@factor);
  -o-transform:      scale(@factor);
}
.rotate (@deg) {
  -webkit-transform: rotate(@deg);
  -moz-transform:    rotate(@deg);
  -ms-transform:     rotate(@deg);
  -o-transform:      rotate(@deg);
}
.background-size (@string) {
  -webkit-background-size: @string;
  -moz-background-size: @string;
  -o-background-size: @string;
  background-size: @string;
}

@color_link: navy;
@color_hover: #a3d8d6;
@font_color: #eee;
@color_bg: #ABB;

html {
  background-color: @color_bg;
  color: @font_color;
}

a {
  color: @color_link;
}

nav {
  color: @color_link;
  
  li {
    background-color: #eee;
    list-style: none;
    display: inline-block;

    padding: 10px;
    font-size: 20px;

    a {
      &:hover {
        color: @color_hover;
      }
    }
  }
}

